.article{
	margin:0 auto;
	padding:0;	
}
.article-top{
	float:left;
	width:100%;
	background:#F6F6F6;
	padding-top:20px;
	margin-top:40px;
}
.article-top h1{
	margin-left:440px;
}
.article-top > p{
	text-align:center;
	margin-left:30px;
	color:#7C6666;
}
.article-top > p span{
	color:#FF9C00;
	margin-left:-10px;
}
.article-top ul{
	margin-left:100px;
	margin-top:60px;
}
.article-top ul li{
	float:left;
	list-style:none;
	margin-right:80px;
	margin-bottom:80px;
	background:#fff;
	width:280px;
	height:200px;
}
.article-top ul li h4{
	width:280px;
	height:60px;
	background:#1CB2A2;
	color:#fff;
	font-size:24px;
	line-height:60px;
	text-align:center;
	margin-top:0px;
}
.article-top ul li p{
	width:240px;
	padding-left:20px;
	padding-right:20px;
}
.article-bottom{
	width:1136px;
	float:left;
	padding-left:130px;
	margin-top:40px;
	margin-bottom:60px;
	background:linear-gradient(to right, #F9F9F9 , #D9F9F9);
	
}
.article-bottom h1{
	margin-left:420px;
	margin-bottom:40px;
}
#d1{
	width:1000px;
	height:100px;
	background:#F6F6F6;
	text-align:center;
	border:1px solid #F6F6D6;
}
#d1-s{
	font-size:26px;
	margin-left:130px;
	margin-right:150px;
}
#span2{
	font-size:66px;
	color:#ED714E;
}
#d2{
	width:1000px;
	height:100px;
	border:1px solid #F6F6D6;
	font-size:16px;
}
#d2-l{
	float:left;
	height:100px;
	line-height:100px;
	margin-left:90px;
}
#d2-l img,#d2-r img{
	position:relative;
	top:16px;
}
#d2-r{
	height:100px;
	line-height:100px;
	margin-left:80px;
}
#p1{
	float:left;
	width:70px;
	height:70px;
	border-radius:50%;
	background:#474D4B;
	margin-left:140px;
}
#span3{
	position:relative;
	font-size:16px;
	font-family:"微软雅黑";
	color:#fff;
	left:20px;
	top:24px;
}
#span4{
	position:relative;
	font-size:16px;
	font-family:"微软雅黑";
	color:#fff;
	left:4px;
	top:24px;
}
#span5{
	position:relative;
	font-size:16px;
	font-family:"微软雅黑";
	color:#fff;
	left:10px;
	top:24px;
}
.footer{
	float:left;
	height:50px;
	width:1366px;
	background:#303030;
	margin-left:-50px;
	margin-right:-50px;
	margin-top:-12px;
	line-height:50px;
}
.fbleft{
	float: left;
	margin-left: 100px;
	color: #ffffff;
	font-family: "微软雅黑";
	font-size: 14px;
}
.back a{
	position:relative;
	float: right;
	margin-right: 100px;
	color: #ffffff;
	font-family: "微软雅黑";
	font-size: 14px;
	text-decoration:none;
	cursor:pointer;
	top:0px;
}
.back span{
	position:relative;
	float: right;
	color:#fff;
	cursor:pointer;
	top:-14px;
	left:40px;
}